<nav class="navbar navbar-expand-md navbar-light bg-light">
    
    <span> </span>
    <a href="/" class="navbar-brand"><%= image_tag ("logo.png"), class: "img-responsive" %>  GonzoCare®</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a href="/" class="nav-item nav-link active">Home</a>
            <a href="#" class="nav-item nav-link">These</a>
            <a href="#" class="nav-item nav-link">Links</a>
            <a href="#" class="nav-item nav-link">Do</a>
            <a href="#" class="nav-item nav-link disabled" tabindex="-1">Nothing</a>
        </div>
        <div class="navbar-nav ml-auto">
            <a href="#" class="nav-item nav-link">Login</a>
        </div>
    </div>
</nav>
